// Modules and Variables
@import "compass";
@import "lib/base/all";

/* ==========================================================================

   Demo Styling (not included in the default framework)
   Remove this part when using CSS

   ========================================================================== */
.demo-banner {
	display: table;
	width: 100%;
	background-image: url(../img/demo/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	> .mx-layoutcontainer-wrapper {
		background: rgba(41, 128, 185, 0.9);
		padding: 0;
		height: 200px;
		display: table-cell;
		vertical-align: middle;

		.demo-banner-text {
			@include font(light);
			color: #FFF;
			text-align: center;
			padding: 0 100px;
		}
	}
}

.layout-sidebar .demo-sidebar {
	border-right: 1px solid $gray-primary;
	background-color: $gray-lighter;
	.mx-navigationtree {
		background-color: $gray-lighter;
		ul li {
			a {
				color: $color-primary;
				border-color: $gray-primary;	

				&:hover,
				&:focus {
					background-color: $color-primary;
					color: #FFF;
				}
			}
			&.mx-navigationtree-has-items > ul {
				background-color: $gray-lighter;
			}
		}
	}
}