/* ==========================================================================

   Base

   ========================================================================== */
/* line 13, lib/base/_all.scss */
body {
  color: #2c3e50;
  font-size: 12px;
}

/* line 18, lib/base/_all.scss */
a {
  color: #2980b9;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/* line 26, lib/base/_all.scss */
a:hover {
  text-decoration: underline;
  color: #1b557a;
}

/* line 31, lib/base/_all.scss */
a:focus {
  outline: thin dotted;
}

/* line 36, lib/base/_all.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 42, lib/base/_all.scss */
input:focus,
button:focus,
.mx-link:focus {
  outline: 0;
}

/* line 46, lib/base/_all.scss */
div[tabindex] {
  outline: 0;
}

/* ==========================================================================

   Demo Styling (not included in the default framework)

   ========================================================================== */
/* line 10, custom.scss */
.demo-banner {
  background-image: url(../img/demo/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 15, custom.scss */
.demo-banner > .mx-layoutcontainer-wrapper {
  background: rgba(41, 128, 185, 0.9);
  padding: 0;
}
/* line 18, custom.scss */
.demo-banner > .mx-layoutcontainer-wrapper > table {
  height: 200px;
}
/* line 21, custom.scss */
.demo-banner > .mx-layoutcontainer-wrapper .demo-banner-text {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  padding: 0 100px;
}
